.GithubSignin {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.5rem;
}

.logo {
  height: 1.8rem;
}

.signinbox {
  display: flex;
  gap: 0.3rem;
}

.signinText {
  margin-top: auto;
}

.signout {
  cursor: pointer;
}
