.CodeInput {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;
}

.inputlang {
    grid-column: 3;
}

.title {
    
}

.footer {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    justify-items: center;
    align-items: center;
}

.convert {
    grid-column: 4;
}