.CodeOutput {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 10rem;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.retry {
    margin-top: 1rem;
}

@media screen and (min-width: 1224px) {
    .CodeOutput {
        grid-template-rows: 5rem 1fr 6rem;
    }
}